<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 home-about-left">
            <h1>À Propos De Nous</h1>
            <p>
                Au cœur de notre établissement, la cuisine et le divertissement se rencontrent pour créer bien plus qu’un simple repas. Notre passion est de rassembler les gens autour de plats savoureux, préparés avec soin à partir d’ingrédients de qualité, et de cocktails créatifs qui éveillent les sens.
                Chaque détail est pensé pour offrir une expérience unique : une atmosphère chaleureuse, une musique qui donne le rythme de la soirée, et une équipe dédiée à transformer chaque visite en moment mémorable.
                Que ce soit pour partager un dîner entre amis, célébrer une occasion spéciale ou simplement profiter d’un bon verre dans une ambiance conviviale, notre bar-restaurant est un lieu où la gastronomie et le plaisir de se divertir prennent tout leur sens.
            </p>
            <a href="/about" class="primary-btn">Savoir Plus</a>
        </div>
        <div class="col-lg-6 home-about-right">
            <img class="img-fluid" src="../../static/home/img/about-img.jpeg" alt="">
        </div>
    </div>
</div>	