<div class="footer-widget-wrap">
    <div class="container">
        <div class="row section-gap">
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Heure Ouverture</h4>
                    <ul class="hr-list">
                        <li class="d-flex justify-content-between">
                            <span>Lundi - Vendredi</span> <span>08.00 am - 10.00 pm</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Samedi</span> <span>10.00 am - 11.00 pm</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Dimanche</span> <span>12.00 am - 12.00 pm</span>
                        </li>																				
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Contactez-nous</h4>
                    <p>
                        n° 123, Rue de la Gastronomie, Quartier des Saveurs, Ville Culinaire, Pays des Délices <br>
                    </p>
                    <p class="number">
                        <a href="tel:+243992429900">+243 992 429 900</a> <br>
                        <a href="tel:+243818551931">+243 818 551 931</a>
                    </p>
                </div>
            </div>						
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>You can trust us. we only send promo offers, not a single spam.</p>
                    <div class="d-flex flex-row" id="mc_embed_signup">


                            <form class="navbar-form" action="" method="get">
                            <div class="input-group add-on align-items-center d-flex">
                                <input class="form-control" name="EMAIL" placeholder="Your Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email address'" required="" type="email">
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                                <div class="input-group-btn">
                                <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                                <div class="info mt-20"></div>
                            </form>
                    </div>
                </div>
            </div>						
        </div>					
    </div>					
</div>

<div class="footer-bottom-wrap">
    <div class="container">
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> 
                Tous droits reservé |  contactez le dévéloppeur 
                <a href="mailto:chrinovicnyembo009@gmail.com" target="_blank">contactme@</a>
            </p>
            <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>           
            </ul>
        </div>						
    </div>
</div>