<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Nourriture & Galerie Clients</h1>
                <p>Découvrez nos plats frais et locaux, des grillades aux entrées créatives, conçus pour éveiller vos papilles et rendre chaque repas inoubliable.</p>
            </div>
        </div>
    </div>	
    
    <ul class="filter-wrap filters col-lg-12 no-padding">
        <li class="active" data-filter="*">Le Tout</li>
        <li data-filter=".breakfast">Entrées</li>
        <li data-filter=".lunch">Plats</li>
        <li data-filter=".dinner">Grillades</li>
        <li data-filter=".budget-meal">Cocktails</li>
        <li data-filter=".buffet">Bissons</li>
    </ul>
    
    
    <div class="filters-content">
        <div class="row grid">
            <div class="col-lg-4 col-md-6 col-sm-6 all dinner">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/grillades4.jfif" alt="">
                </div>                            
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all breakfast">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/entrees1.jfif" alt="">
                </div>	                          
            </div>                           
            <div class="col-lg-4 col-md-6 col-sm-6 all dinner">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/grillades2.jfif" alt="">
                </div>                            
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all budget-meal">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/cocktail1.jfif" alt="">
                </div>                            
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all breakfast">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/entrees2.jfif" alt="">
                </div>                            
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all lunch">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/plats-3.jfif" alt="">
                </div>                            
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all buffet">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/boissons3.jfif" alt="">
                </div>                            
            </div> 
            <div class="col-lg-4 col-md-6 col-sm-6 all lunch">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/plats-1.jfif" alt="">
                </div>                            
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all buffet">
                <div class="single-gallery">
                    <img class="img-fluid" src="../../static/home/img/boissons2.jfif" alt="">
                </div>                            
            </div>                            
        </div>
    </div>
    
</div>