<div class="header-top">
    <div class="container">
        <div class="row justify-content-center">
                <div id="logo">
                <a href="/"><img src="../../static/home/img/logo.png" alt="" title="" width="160px"/></a>
                </div>
        </div>			  					
    </div>
</div>

<div class="container main-menu">
    <div class="row align-items-center justify-content-center d-flex">			
        <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="/">Acceuil</a></li>
            <li><a href="/about">A Propos</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/gallery">Gallerie</a></li>				          					          		          
            <li><a href="/contact">Contact</a></li>
        </ul>
        </nav><!-- #nav-menu-container -->					      		  
    </div>
</div>