<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Quel Genre D'aliments Nous Servons Pour Vous</h1>
                <p>
                    Découvrez nos spécialités : entrées savoureuses, 
                    grillades, plats locaux et cocktails préparés pour accompagner vos meilleurs moments.
                </p>
            </div>
        </div>
    </div>	

    <ul class="filter-wrap filters col-lg-12 no-padding">
        <li class="active" data-filter="*">Le Tout</li>
        <li data-filter=".breakfast">Entrées</li>
        <li data-filter=".lunch">Plats</li>
        <li data-filter=".dinner">Grillades</li>
        <li data-filter=".budget-meal">Cocktails</li>
        <li data-filter=".buffet">Boissons</li>
    </ul>
    
    <div class="filters-content">
        <div class="row grid">

            <!-- Entrées -->
            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Samoussas au poulet</h4>
                        <h4 class="price">7 000 FC</h4>
                    </div>
                    <p>
                        Beignets croustillants farcis au poulet épicé, servis chauds.
                    </p>
                </div>
            </div>

            <!-- Boissons -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Simba</h4>
                        <h4 class="price">7 500 FC</h4>
                    </div>
                    <p>
                        Bière locale servie bien fraîche pour accompagner vos repas.
                    </p>
                </div>
            </div>

            <!-- Grillades -->
            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Chèvre grillée</h4>
                        <h4 class="price">20 000 FC</h4>
                    </div>
                    <p>
                        Viande de chèvre grillée accompagnée de légumes et piment maison.
                    </p>
                </div>
            </div>

            <!-- Cocktails -->
            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Mojito</h4>
                        <h4 class="price">12 000 FC</h4>
                    </div>
                    <p>
                        Cocktail rafraîchissant à base de rhum, menthe fraîche et citron vert.
                    </p>
                </div>
            </div>

            <!-- Boissons -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Castel</h4>
                        <h4 class="price">7 500 FC</h4>
                    </div>
                    <p>
                        Bière locale servie bien fraîche pour accompagner vos repas.
                    </p>
                </div>
            </div>

            <!-- Entrées -->
            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Beignets de crevettes</h4>
                        <h4 class="price">11 000 FC</h4>
                    </div>
                    <p>
                        Crevettes croustillantes frites servies avec une sauce légèrement épicée.
                    </p>
                </div>
            </div>

            <!-- Entrées -->
            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Salade fraîche du chef</h4>
                        <h4 class="price">8 000 FC</h4>
                    </div>
                    <p>
                        Mélange de légumes frais, tomates, oignons et vinaigrette maison.
                    </p>
                </div>
            </div>

            <!-- Entrées -->
            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Brochettes de poulet</h4>
                        <h4 class="price">9 000 FC</h4>
                    </div>
                    <p>
                        Délicieuses brochettes grillées servies avec une sauce épicée.
                    </p>
                </div>
            </div>

            <!-- Plats -->
            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Poulet braisé & frites</h4>
                        <h4 class="price">18 000 FC</h4>
                    </div>
                    <p>
                        Poulet mariné et braisé servi avec des frites croustillantes.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Brochettes de bœuf</h4>
                        <h4 class="price">15 000 FC</h4>
                    </div>
                    <p>
                        Morceaux de bœuf grillés à la perfection, servis avec sauce pimentée maison.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Agneau braisé</h4>
                        <h4 class="price">23 000 FC</h4>
                    </div>
                    <p>
                        Agneau tendre et savoureux, grillé avec épices locales, accompagné de légumes.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Poisson capitaine grillé</h4>
                        <h4 class="price">22 000 FC</h4>
                    </div>
                    <p>
                        Poisson frais du marché, grillé avec marinade maison et servi avec sauce légère.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Riz sauté au poulet</h4>
                        <h4 class="price">17 000 FC</h4>
                    </div>
                    <p>
                        Riz sauté avec morceaux de poulet, légumes frais et épices maison.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Poisson frit & frites</h4>
                        <h4 class="price">19 000 FC</h4>
                    </div>
                    <p>
                        Poisson frais frit accompagné de frites croustillantes et sauce pimentée.
                    </p>
                </div>
            </div>

            <!-- Boissons -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tembo</h4>
                        <h4 class="price">6 000 FC</h4>
                    </div>
                    <p>
                        Bière locale servie bien fraîche pour accompagner vos repas.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Pina Colada</h4>
                        <h4 class="price">13 000 FC</h4>
                    </div>
                    <p>
                        Cocktail tropical à base de rhum, ananas et lait de coco.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Caipirinha</h4>
                        <h4 class="price">12 000 FC</h4>
                    </div>
                    <p>
                        Rhum brésilien, citron vert, sucre et glace pilée pour un cocktail rafraîchissant.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Sex on the Beach</h4>
                        <h4 class="price">14 000 FC</h4>
                    </div>
                    <p>
                        Mélange fruité de vodka, jus d’orange et cranberry, parfait pour la soirée.
                    </p>
                </div>
            </div>

        </div>
    </div>
    
</div>