<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Quel genre d'aliments nous servons pour vous</h1>
                <p>
                    Découvrez nos spécialités : entrées savoureuses, 
                    grillades, plats locaux et cocktails préparés pour accompagner vos meilleurs moments.
                </p>
            </div>
        </div>
    </div>	

    <ul class="filter-wrap filters col-lg-12 no-padding">
        <li class="active" data-filter="*">Le Tout</li>
        <li data-filter=".breakfast">Entrées</li>
        <li data-filter=".lunch">Plats</li>
        <li data-filter=".dinner">Grillades</li>
        <li data-filter=".budget-meal">Cocktails</li>
        <li data-filter=".buffet">Boissons</li>
    </ul>
    
    <div class="filters-content">
        <div class="row grid">

            <!-- LES ENTRÉES (Chaudes et Froides) -->
            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Soupe de bœuf</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Soupe de porc</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Potage / Soupe de légumes</h4>
                        <h4 class="price">19 750 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Samoussa</h4>
                        <h4 class="price">14 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Gésier</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Ailes de poulet</h4>
                        <h4 class="price">34 200 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Foie</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Œuf à la russe</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Salade Mixte</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Salade Grecque</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Salade Niçoise</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Chicken Salade</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all breakfast">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Salade Coslow</h4>
                        <h4 class="price">14 500 FC</h4>
                    </div>
                </div>
            </div>

            <!-- APERITIFS -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Martini Rosso</h4>
                        <h4 class="price">Shot 4$ / Bouteille 35$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Martini Blanc</h4>
                        <h4 class="price">Shot 8$ / Bouteille 60$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Campari</h4>
                        <h4 class="price">Shot 8$ / Bouteille 60$</h4>
                    </div>
                </div>
            </div>

            <!-- WHISKYS -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Red Label</h4>
                        <h4 class="price">Shot 4$ / Bouteille 35$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Black Label</h4>
                        <h4 class="price">Shot 5$ / Bouteille 40$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Double Black</h4>
                        <h4 class="price">Shot 5$ / Bouteille 80$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Green Label</h4>
                        <h4 class="price">Shot 5$ / Bouteille 100$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Blue Label</h4>
                        <h4 class="price">Bouteille 350$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Gold Label</h4>
                        <h4 class="price">Shot 5$ / Bouteille 100$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>JW Platinum</h4>
                        <h4 class="price">Bouteille 250$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>William Lawson</h4>
                        <h4 class="price">Shot 3$ / Bouteille 30$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>J&B</h4>
                        <h4 class="price">Shot 3$ / Bouteille 30$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Jameson</h4>
                        <h4 class="price">Shot 4$ / Bouteille 40$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Vat 69</h4>
                        <h4 class="price">Shot 3$ / Bouteille 35$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Jack Daniel</h4>
                        <h4 class="price">Shot 5$ / Bouteille 50$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Glenfiddich 12</h4>
                        <h4 class="price">Shot 6$ / Bouteille 85$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Glenfiddich 15</h4>
                        <h4 class="price">Shot 7$ / Bouteille 90$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Glenfiddich 18</h4>
                        <h4 class="price">Shot 8$ / Bouteille 100$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Chivas Regal 12</h4>
                        <h4 class="price">Shot 7$ / Bouteille 75$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Chivas Regal 18</h4>
                        <h4 class="price">Shot 10$ / Bouteille 100$</h4>
                    </div>
                </div>
            </div>

            <!-- LES GRILLADES (Volailles, Poissons et Viandes) -->
            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Poulet Braisé (Entier)</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Poulet Braisé (Demi)</h4>
                        <h4 class="price">57 000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Brochette de Poulet</h4>
                        <h4 class="price">42 000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Brochette de Gésier</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tilapia Grillé</h4>
                        <h4 class="price">57 000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tilapia Braisé</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Faux Filet de bœuf</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Filet de bœuf</h4>
                        <h4 class="price">25$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>T-Bone</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Saucisse (Bœuf ou Porc)</h4>
                        <h4 class="price">42 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all dinner">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Carré de Porc</h4>
                        <h4 class="price">57 000 FC</h4>
                    </div>
                </div>
            </div>

            <!-- Cocktails -->
            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Mojito</h4>
                        <h4 class="price">12 000 FC</h4>
                    </div>
                    <p>
                        Cocktail rafraîchissant à base de rhum, menthe fraîche et citron vert.
                    </p>
                </div>
            </div>

            <!-- VODKA -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Absolut Vodka</h4>
                        <h4 class="price">Shot 3$ / Bouteille 40$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Smirnoff</h4>
                        <h4 class="price">Shot 3$ / Bouteille 30$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Grey Goose</h4>
                        <h4 class="price">Shot 6$ / Bouteille 100$</h4>
                    </div>
                </div>
            </div>

            <!-- LIQUEURS -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Amarula</h4>
                        <h4 class="price">Shot 4$ / Bouteille 50$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Bailey's</h4>
                        <h4 class="price">Shot 6$ / Bouteille 60$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Malibu</h4>
                        <h4 class="price">Shot 6$ / Bouteille 60$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Cointreau</h4>
                        <h4 class="price">Shot 5$ / Bouteille 90$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Disarono</h4>
                        <h4 class="price">Shot 7$ / Bouteille 90$</h4>
                    </div>
                </div>
            </div>



            <!-- LES PLATS (Spécialités, Accompagnements et Légumes) -->
            <!-- Plats cuisinés -->
            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tilapia Lualaba</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Filet de Capitaine</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Poulet Mayo</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Poulet Rôti</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Caille ou Poussin</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Steack aux Champignons</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Boulettes de Bœuf</h4>
                        <h4 class="price">42 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Assiette Mixte</h4>
                        <h4 class="price">71 250 FC</h4>
                    </div>
                </div>
            </div>

            <!-- Légumes (8 500 FC l'unité) -->
            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Gombo</h4>
                        <h4 class="price">8 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Sombé</h4>
                        <h4 class="price">8 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Lenga-Lenga</h4>
                        <h4 class="price">8 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Ngai-Ngai</h4>
                        <h4 class="price">8 500 FC</h4>
                    </div>
                </div>
            </div>

            <!-- Accompagnements -->
            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Pomme Sauté</h4>
                        <h4 class="price">11 000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Pomme nature</h4>
                        <h4 class="price">14 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Riz</h4>
                        <h4 class="price">11 000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Foufou</h4>
                        <h4 class="price">2 850 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Banane Plantin</h4>
                        <h4 class="price">14 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Croquettes de P.D.T</h4>
                        <h4 class="price">14 500 FC</h4>
                    </div>
                </div>
            </div>

            <!-- Sauces -->
            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Sauce Ail</h4>
                        <h4 class="price">14 000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Sauce Tartare</h4>
                        <h4 class="price">14 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Sauce Champignon</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all lunch">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Sauce Bolognaise</h4>
                        <h4 class="price">28 500 FC</h4>
                    </div>
                </div>
            </div>

            <!-- TEQUILA -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tequila Camino</h4>
                        <h4 class="price">Shot 3$ / Bouteille 30$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tequila Olimega</h4>
                        <h4 class="price">Shot 4$ / Bouteille 35$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tequila Patron</h4>
                        <h4 class="price">Bouteille 100$</h4>
                    </div>
                </div>
            </div>

            <!-- COGNAC -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Hennessy</h4>
                        <h4 class="price">Bouteille 90$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Martell XO</h4>
                        <h4 class="price">Bouteille 300$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Remy Martin XO</h4>
                        <h4 class="price">Bouteille 300$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Camus XO</h4>
                        <h4 class="price">Shot 20$ / Bouteille 300$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Camus VSOP</h4>
                        <h4 class="price">Shot 16$ / Bouteille 200$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Hennessy VSOP</h4>
                        <h4 class="price">Shot 16$ / Bouteille 200$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Hennessy VS</h4>
                        <h4 class="price">Shot 12$ / Bouteille 160$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Remy Martin VSOP</h4>
                        <h4 class="price">Shot 16$ / Bouteille 200$</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Courvoisier VS</h4>
                        <h4 class="price">Shot 12$ / Bouteille 160$</h4>
                    </div>
                </div>
            </div>

            <!-- BIÈRES LOCALES -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Chill</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Simba 73cl</h4>
                        <h4 class="price">8000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Simba 33cl</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Castel 65cl</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Castel 33cl</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>33 Export 65cl</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>33 Export 33cl</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Chui 65cl</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Beaufort</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Simba Royal</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Racines</h4>
                        <h4 class="price">6000 FC</h4>
                    </div>
                </div>
            </div>

            <!-- BIÈRES BRUNES -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tembo 73 cl</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tembo 33cl</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Chui Black</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Guinness</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Doppel 75cl</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Doppel 50cl</h4>
                        <h4 class="price">7500 FC</h4>
                    </div>
                </div>
            </div>

            <!-- BIÈRES ÉTRANGÈRES -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Castle Lite</h4>
                        <h4 class="price">10000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Castle Lager</h4>
                        <h4 class="price">10000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Black Label</h4>
                        <h4 class="price">10000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Heineken</h4>
                        <h4 class="price">10000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Stella Artois</h4>
                        <h4 class="price">10000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Leffe Brune</h4>
                        <h4 class="price">14000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Leffe Blonde</h4>
                        <h4 class="price">14000 FC</h4>
                    </div>
                </div>
            </div>

            <!-- SUCRÉES & SOFTS -->
            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Djino</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Coca Zero</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Rani</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Ceres</h4>
                        <h4 class="price">14500 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Tonic</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Red Bull</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>XXL</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all buffet">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Schweppes</h4>
                        <h4 class="price">5000 FC</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Pina Colada</h4>
                        <h4 class="price">13 000 FC</h4>
                    </div>
                    <p>
                        Cocktail tropical à base de rhum, ananas et lait de coco.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Caipirinha</h4>
                        <h4 class="price">12 000 FC</h4>
                    </div>
                    <p>
                        Rhum brésilien, citron vert, sucre et glace pilée pour un cocktail rafraîchissant.
                    </p>
                </div>
            </div>

            <div class="col-md-6 all budget-meal">
                <div class="single-menu">
                    <div class="title-wrap d-flex justify-content-between">
                        <h4>Sex on the Beach</h4>
                        <h4 class="price">14 000 FC</h4>
                    </div>
                    <p>
                        Mélange fruité de vodka, jus d’orange et cranberry, parfait pour la soirée.
                    </p>
                </div>
            </div>

        </div>
    </div>
    
</div>