<div class="overlay overlay-bg"></div>
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 reservation-left">
            <h1 class="text-white">Vivez l’Instant Parfait</h1>
            <p class="text-white pt-20">
                Que ce soit un dîner entre amis, une célébration spéciale ou une soirée animée, 
                réservez votre table pour profiter d’une expérience unique : cuisine savoureuse, cocktails 
                créatifs et ambiance festive qui rend chaque moment inoubliable.
            </p>
        </div>
        <div class="col-lg-5 reservation-right">
            <form class="form-wrap text-center" action="#">
                <input type="text" class="form-control" name="name" placeholder="Votre nom complet" onfocus="this.placeholder=''" onblur="this.placeholder='Votre nom complet'">
                
                <input type="email" class="form-control" name="email" placeholder="Votre adresse email" onfocus="this.placeholder=''" onblur="this.placeholder='Votre adresse email'">
                
                <input type="text" class="form-control" name="phone" placeholder="Numéro de téléphone" onfocus="this.placeholder=''" onblur="this.placeholder='Numéro de téléphone'">
                
                <input type="text" class="form-control date-picker" name="date" placeholder="Date et heure souhaitées" onfocus="this.placeholder=''" onblur="this.placeholder='Date et heure souhaitées'">
                
                <div class="form-select" id="service-select">
                    <select>
                        <option data-display="">Type d'événement</option>
                        <option value="friends">Soirée entre amis</option>
                        <option value="birthday">Anniversaire</option>
                        <option value="romantic">Dîner romantique</option>
                        <option value="private">Événement privé / corporatif</option>
                    </select>
                </div>
                
                <button class="primary-btn text-uppercase mt-20">Réservez votre soirée</button>
            </form>
        </div>
    </div>
</div>	